Consistent References

Wait on other comments before spinning a new verssion:

In para 2, the different versions aren't referred to the same:
- §2 ¶5 has «TLS 1.3, specified in TLSv1.3 [RFC8446]…».
- §2 ¶4 has «TLSv1.2, specified in RFC5246 [RFC5246]…»
- §2 ¶3 has «TLS 1.1, specified in [RFC4346]…»

For those section 2 references, I suggest using the syntax found at https://github.com/tlswg/oldversions-deprecate/blob/master/draft-ietf-tls-oldversions-deprecate.xml#L469. In other words, eschew text node(s) within the xref elements which reference RFCs.

Whether the HTML produced by an xref RFC citation should directly reference (link to) the RFC, or reference (via an intra-document link) the cited RFC as it is found in the "References" section, should be decided in the xml2rfc venue. https://tools.ietf.org/html/rfc7991#section-2.66 indicates an xref should be manifest as a link to an intra-document anchor.